doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css")
        link(rel="stylesheet" href="/style.css")
        title Coming Soon | Design Plug ATL
    body
        header 
        main
            .container

                .row.mx-auto.screen-content.text-center
                    .text-center
                        p.intro-line Coming Soon!
                        h1.display Design Plug ATL 
                        p.lead Join the email list to be the first to know about the official launch and special introductory offers.
                    .email-form-wrapper.py-3.mb-3.text-start.text-light
                        form.row.align-items-end.g-0(action="https://formsubmit.co/4ed7b4b3730b4d985c8c886e221c05a2" method="POST")
                            .col-9
                                label.form-label(for='exampleFormControlInput1') Email address
                                input#emailAddy.form-control(type='email' name="name" placeholder='name@example.com' required)
                            .col-9.d-none
                                input(type="hidden" name="_subject" value="New Email List Submission")
                            .col-3 
                                button.btn.btn-primary.w-100(type="submit") Submit
        footer
        script(src="/index.js") 